* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {     
     font-family: Arial, Helvetica, sans-serif;
}    

#large {
    font-size: larger;
    display: none;
}

#medium {
    font-size:medium;
    display: none;
}

#small {
    font-size: small;
}

@media only screen and (min-width: 600px) {
    #medium {display: block;}
    #small {display: none;}
}

@media only screen and (min-width: 1200px) {
    #large {display: block;}
    #medium {display: none;}  
}